<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8">
	<title>Allievo</title>
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/skel-noscript.css}" />
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style-desktop.css}" />
</head>
<body class="bodycontainer">
	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">Gestione Centro</a></h1>
			</div>			
			<!-- Nav -->
			<nav id="nav">
				<ul>							
					<li class="active"><a href="/">Homepage</a></li>
					<li sec:authorize="hasRole('ROLE_centro')"><a th:href="@{/{ruolo}/{id}/attivita(ruolo=${@responsabileService.corrente.ruolo},id=${@responsabileService.corrente.centroId})}">Attivita</a></li>
					<li sec:authorize="hasRole('ROLE_direttore')"><a href="/direttore/attivita">Attività</a></li>
					<li><a href="/allievo/lista">Allievi</a></li>
					<li sec:authorize="hasRole('ROLE_direttore')"><a href="/direttore/centri">Centri</a></li>
					<li><a href="/casiDuso">Casi d'uso</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>

		</div>
	</div>
	<div id="main">
		<div class="container">
		Non hai il permesso per visualizzare questa pagina
		</div>
	</div>
	<div id="copyright">
		<div class="container">
			Design by: <a href="">Edoardo Montebelli [487882],</a> <a href="">Kaio Cesar Alves Reis [484997]</a>  
		</div>
	</div>	
</body>
</html>