<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuovo Centro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/form.css" th:href="@{/css/form.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/skel-noscript.css" th:href="@{/css/skel-noscript.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/style-desktop.css" th:href="@{/css/style-desktop.css}" />
		
</head>
    <body class="bodycontainer">
       
    	<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<h1><a href="#">Gestione Centro</a></h1>
					</div>
				<!-- Nav -->
				
					<nav id="nav">
						<ul>
							<li class="active"><a href="/">Homepage</a></li>
							<li><a href="/attivita/lista">Attività</a></li>
							<li><a href="/allievo/lista">Allievi</a></li>
							<li><a href="/centri">Centri</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</nav>

			</div>
		</div>
		<div id="main">
        <form id="contact" action="#" th:action="@{/nuovoCentro}" th:object="${centro}" method="post">
        	<h3>Iscrizione</h3>
    		<h4>Inserimento dati nuovo Centro</h4>
    		<h4 id="error" th:text="${esistenza}"></h4> 
				<table>
					<tr>
    					<td>
      						<div >Nome (*):</div>
      						<div><input type="text" th:field="*{nome}" /></div>
    					</td>
    				</tr>
    				<tr>
    					<td>
      						<div>Indirizzo (*):</div>
      						<div><input type="text" th:field="*{indirizzo}" /></div>
    					</td>
    				<tr>
    				<tr>
    					<td>
      						<div>Email (*):</div>
      						<div><input type="email" th:field="*{email}" /></div>
    					</td>
    				<tr>
    				<tr>
    					<td>
      						<div>Telefono:</div>
      						<div><input type="text" th:field="*{telefono}" /></div>
    					</td>
    				<tr>
    				
    				<tr>
    					<td>
      						<div>Capienza massima:</div>
      						<div><input type="number" th:field="*{capienzaMassima}" /></div>
    					</td>
    				<tr>
    				
    				</table>	
      				
      				<span><button name="reset" type="reset" id="contact-reset" data-submit="...Reset">Cancella</button></span>
      				<span><button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Invia</button></span>
        		</form>
        	</div>
        	<div id="copyright">
			<div class="container">
				Design by: <a href="">Edoardo Montebelli [487882],</a> <a href="">Kaio Cesar Alves Reis [484997]</a>  
			</div>
		</div>
    </body>
</html>
