<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nuova Attivita</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/form.css" th:href="@{/css/form.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/skel-noscript.css"
	th:href="@{/css/skel-noscript.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style-desktop.css"
	th:href="@{/css/style-desktop.css}" />

</head>
<body class="bodycontainer">

	<div id="header">
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1>
					<a href="#">Gestione Centro</a>
				</h1>
			</div>
			<!-- Nav -->

			<nav id="nav">
				<ul>
					<li class="active"><a href="/">Homepage</a></li>
					<li><a href="/attivita/lista">Attività</a></li>
					<li><a href="/allievo/lista">Allievi</a></li>
					<li><a href="/centri">Centri</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>

		</div>
	</div>
	<div id="main">
		<form id="contact" action="#" th:action="@{/attivita/nuovaAttivita}" th:object="${attivita}" method="post">
		<h3>Iscrizione</h3>
		<h4>Inserimento dati nuova attività</h4>
		<h4 id="error" th:text="${esistenza}"></h4>
			<table>
				
				<tr>
					<td>
						<div>Nome (*):</div>
						<div>
							<input type="text" th:field="*{nome}" />
						</div> <!--  <span id="error" th:if="${#fields.hasErrors('nome')}" th:text="#{richiesto.allievo.nome}">Error</span>-->
					</td>
				</tr>
				  <tr>
					<td>
						<div>Data:</div>
						<div>
							<input type="date" th:field="*{data}" />
						</div>
					</td>
				<tr>
				 <tr>
					<td>
					<div class="time-box">
						<div>Ora inizio:</div>
						<div><input type="time" th:field="*{oraInizio}" /></div>
					</div>
					<div class="time-box">
						<div>Ora fine:</div>
						<div><input type="time" th:field="*{oraFine}" /></div>
					</div>
					</td>
				<tr>
				  <tr>
					<td>
						<div>Centro id:</div>
						<div>
							<input type="text" th:field="*{centro}" />
						</div>
					</td>
				<tr>
			</table>
			<span><button name="reset" type="reset" data-submit="...Reset">Cancella</button></span>
			<span><button name="submit" type="submit" data-submit="...Sending">Submit</button></span>
		</form>
	</div>
	<div id="copyright">
			<div class="container">
				Design by: <a href="">Edoardo Montebelli [487882],</a> <a href="">Kaio Cesar Alves Reis [484997]</a>  
			</div>
		</div>
</body>
</html>
