<!DOCTYPE html>

<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Centri</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/listutil.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/listmain.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/skel-noscript.css}" />
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style-desktop.css}" />
<!--===============================================================================================-->

</head>
<body class="bodycontainer">

	<!-- Header -->
		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<h1><a href="#">Gestione Centro</a></h1>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="active"><a href="/">Homepage</a></li>
							<li><a href="/attivita/lista">Attività</a></li>
							<li><a href="/allievo/lista">Allievi</a></li>
							<li><a href="/centri">Centri</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</nav>

			</div>
		</div>
	<!-- Header -->
			
		<div class="container-table100">
			<div class="wrap-table100">
			
		<div class="head">
					<h3>Lista Centri</h3>
					<form action="#" th:action="@{/allievo/}" method="get">
							<span>Cerca centro</span> <span><input type="text" name="email" /></span> 
							<span><button type="submit">Cerca</button></span>
							<span><button type="button" onClick="location.href='/nuovoCentro'">+</button></span>
							<p id="error" th:text="${esistenza}"></p>    
					</form>	
				</div>
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Nome</th>
								<th class="column2">Indirizzo</th>
								<th class="column3">Email</th>
								<th class="column4">Telefono</th>
								<th class="column5">Capienza Massima</th>
								<th class="column6">Attività</th>
								<th class="column7">Responsabili</th>								
							</tr>
						</thead>
						<tbody>
							<tr th:each="centro : ${centri}">
								<td class="column1"><span th:text="${centro.nome}"></span></td>
								<td class="column2"><span th:text="${centro.indirizzo}"></span></td>
								<td class="column3"><span th:text="${centro.email}"></span></td>
								<td class="column4"><span th:text="${centro.telefono}"></span></td>
								<td class="column4"><span th:text="${centro.capienzaMassima}"></span></td>
								<td class="column6"><a th:href="@{/centro/{id}/attivita(id=${centro.id})}"><button type="button">Lista</button></a></td>
								<td class="column7"><a th:href="@{/centro/{id}/responsabili(id=${centro.id})}"><button type="button">Responsabili</button></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="copyright">
		<div class="container">
			Design by: <a href="">Edoardo Montebelli [487882],</a> <a href="">Kaio Cesar Alves Reis [484997]</a>  
		</div>
	</div>
</body>
</html>