<!DOCTYPE html>

<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Attività</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" th:href="@{/css/listmain.css}">

	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/skel-noscript.css}" />
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style-desktop.css}" />
</head>
<body class="bodycontainer">

	<!-- Header -->
	<div id="header">
		<div class="container">			
			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">Gestione Centro</a></h1>
			</div>			
			<!-- Nav -->
			<nav id="nav">
				<ul>							
					<li class="active"><a href="/">Homepage</a></li>
					<li sec:authorize="hasRole('ROLE_centro')"><a th:href="@{/{ruolo}/{id}/attivita(ruolo=${@responsabileService.corrente.ruolo},id=${@responsabileService.corrente.centroId})}">Attivita</a></li>
					<li sec:authorize="hasRole('ROLE_direttore')"><a href="/direttore/attivita">Attività</a></li>
					<li><a href="/allievo/lista">Allievi</a></li>
					<li sec:authorize="hasRole('ROLE_direttore')"><a href="/direttore/centri">Centri</a></li>
					<li><a href="/casiDuso">Casi d'uso</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- Header -->
	
		<div class="container-table100">
			<div class="wrap-table100">
			<div class="head">
				<h3>Lista Attività</h3>
				<form action="#" th:action="@{/attivita/}" method="get">
					<span>Cerca attività</span> <span><input type="text" name="email" /></span> 
					<span><button type="submit">Cerca</button></span>
					<span><button type="button" onClick="location.href='/attivita/nuovaAttivita'">+</button></span>
					<p id="error" th:text="${esistenza}"></p>    
				</form>
				</div>	
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Nome</th>
								<th class="column2">Data</th>
								<th class="column3">Ora Inizio</th>
								<th class="column4">Ora Fine</th>
								<th class="column5">Centro</th>
								<th class="column6">Allievi</th>
								<th class="column7">Cancella</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="activity : ${attivita}">
								<td class="column1"><span th:text="${activity.nome}"></span></td>
								<td class="column2"><span th:text="${#dates.format(activity.data, 'dd-MMM-yyyy')}"></span></td>
								<td class="column3"><span th:text="${#dates.format(activity.oraInizio, 'HH:mm')}"></span></td>
								<td class="column4"><span th:text="${#dates.format(activity.oraFine, 'HH:mm')}"></span></td>
								<td class="column5"><span th:text="${activity.centro.nome}"></span></td>
								<td class="column6"><a th:href="@{/attivita/{id}/allievi(id=${activity.id})}"><button type="button">Lista</button></a></td>  
								<td class="column7"><a th:href="@{/attivita/{id}/elimina(id=${activity.id})}"><button type="button">Elimina</button></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<div id="copyright">
		<div class="container">
			Design by: <a href="">Edoardo Montebelli [487882],</a> <a href="">Kaio Cesar Alves Reis [484997]</a>  
		</div>
	</div>
</body>
</html>
