<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>Allievo</title>
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/skel-noscript.css}" />
	<link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style-desktop.css}" />
</head>
<body class="bodycontainer">
	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">Gestione Centro</a></h1>
			</div>			
			<!-- Nav -->
			<nav id="nav">
				<ul>							
					<li class="active"><a href="/">Homepage</a></li>
					<li><a href="/attivita/lista">Attività</a></li>
					<li><a href="/allievo/lista">Allievi</a></li>
					<li><a href="/centri">Centri</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>

		</div>
	</div>
	<!-- Header -->
	<div id="main-allievo">
		<h1><span th:text="${allievo.nome} + ' ' + ${allievo.cognome} + ','"></span></h1>
		<section id="content">
			
			<h2>Informazioni personali</h2>
			<div>
				<div>Email:</div>
				<span th:text="${allievo.email}"></span>
			</div>
			<div>
				<div>Telefono:</div>
				<span th:text="${allievo.telefono}"></span>
			</div>
			<div>
				<div>Luogo di nascita:</div>
				<span th:text="${allievo.luogoDiNascita}"></span>
			</div>
			<div>
				<div>Data di nascita:</div>
				<span th:text="${allievo.dataDiNascita}"></span>
			</div>
		</section>
		<section id="content-activity">
			
			<h2>Attività a cui partecipa</h2>
			<!-- Da vedere se rendere visibile le attività all'allievo			
			<table>
				<tr th:each="attivita : ${allievo.attivita}">
					<td><span th:text="${attivita.nome}"></span></td>
				</tr>			
			</table> -->			
		</section>
		<a href="/allievo/lista" class="button">Torna alla lista</a>
	</div>
	<div id="copyright">
		<div class="container">
			Design by: <a href="">Edoardo Montebelli [487882],</a> <a href="">Kaio Cesar Alves Reis [484997]</a>  
		</div>
	</div>	
</body>
</html>